<h1>The Infinite Puzzle Generator</h1>
<div class="body">
    <div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="'Hitori'">
                <a ngbNavLink>Hitori</a>
            </li>
            <li [ngbNavItem]="'Heyawake'">
                <a ngbNavLink>Heyawake</a>
            </li>
        </ul>

        <div ngbNavContent class="mt-2 tab-content">
            <div class="left">
                <h3>{{active}} rules:</h3>
                <div *ngIf="active === 'Hitori'">
                    <app-hitori-rules></app-hitori-rules>
                </div>
                <div *ngIf="active === 'Heyawake'">
                    <app-heyawake-rules></app-heyawake-rules>
                </div>
            </div>
            <div class="right">
                <app-puzzle-size-selector [puzzleType]="active"></app-puzzle-size-selector>
            </div>
        </div>
    </div>
</div>