.classes select {
	/**space it out a li'l pretty*/
}

#sidebar {
	width: 150px;
	background: #f4f6f9;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 12px;
	padding-left: 10px;
	padding-bottom: 18px;
}

#skills {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#console {
	width: 80%;
	left: 10%;
	background: gray;
	padding: 4px;
}