<ol>
    <li>The numbers in some outlined areas indicate how many squares are painted; if there is no
        number, there may be any number of painted squares, including zero</li>
    <li>Painted squares cannot touch each other vertically or horizontally, but they can be diagonal
    </li>
    <li>All white squares form a contiguous area, forming a path that can get to each other white
        square by a series of horizontal or vertical steps (diagonally does not count)</li>
    <li>A line of white squares, running either horizontally or vertically, may not span more than
        two outlined areas</li>
</ol>