@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Itim');

.highlighted {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}

/*what is this????*/
html, body{height: 100%}
.screen {
	height: calc(100% - 96px);
	min-height: calc(100% - 96px);
	/*border: solid;*/
}

/*a general style that sets up an animation with short text descrip*/
.animation {
	height: 100%;
}
.animation > .scene {
	
}
.animation > {
	
}

/*same for picture and long text*/
.picNtext {
	height: 100%;
}

.picNtext > .scene {
	height: 70%;
	min-height: 70%;
}

.picNtext > .scene > img {
	max-width: 100%;
}

.picNtext > .story {
}

/*same for prompt and choices*/
.callResponse {
  border: solid;
}

/*unrelated*/
.promptChoices {
	/*border: solid;*/
	text-align: center;
	padding: 20px;
}

.screen {
	/*border: solid;*/
	margin-left: 250px;
	padding: 40px;
	text-align: center;
    font-family: 'Indie Flower', cursive;
}

fieldset > label {
	margin: 5px;
}

.sidebar {
	width: 250px;
	background: #f4f6f9;
	position: fixed;
	height: 100%;
	top: -10px;
	left: 0px;
}

.statBox {
	border-radius: 4px;
	left: 5px;
	background: #dadfe8;
	width: 220px;
	padding: 15px;
	position: fixed;
	bottom: 10px;
	text-align: center;
	font-family: 'Itim', cursive;
}
#bar1 {
	margin-bottom: 10px;
/*	float: left;
}
#bar2 {
	float: right;
	width: 200px; */
}

.textBubble {
  /*border: solid;*/
	position: relative;
	top: 150px;
  width: 700px;
	height: 270px;
	display: block;
	margin: auto;
}
.textBubble > img {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
}
.welcome {
  /*position: absolute;
  top: 80px;
  left: 50px;*/
  display: block;
  position: relative;
  top: -150px;
  margin: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  display: block;
  margin: auto;
  text-align: center;
}

.option {
  border-radius: 20px;
  background: #ccf2ff;
  height: 20px;
  display: none;
}

.IndieFlower {
  font-family: 'Indie Flower', cursive;
}

.Itim {
  font-family: 'Itim', cursive;
}