<div class="vertically-centered">
    <div class="centered">
        <!-- puzzle grid -->
        <div class="puzzle centered">
            <!-- puzzle rows -->
            <div *ngFor="let row of puzzleData; index as x" class="vertically-centered">
                <!-- each column in a puzzle row -->
                <div *ngFor="let n of row; index as y" class="puzzle-cell centered"
                    [class.blackened-out]="userSolution[y][x] !== null? !userSolution[y][x] : false"
                    [class.circled]="userSolution[y][x] !== null? userSolution[y][x] : false"
                    (click)="toggleCellColor(x, y)">
                    <div class="vertically-centered">
                        {{n}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>