body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  font-family: "Nunito", sans-serif;
}

.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.popup .popup-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  top: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popup .popup-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  font-size: 3em;
}
.popup .popup-body {
  padding: 16px 16px;
}

#mainbox {
  width: calc(100% - 2*8px);
  margin: 8px;
  height: 100%;
  display: flex;
}

#sidebar {
  width: 150px;
  background: #f4f6f9;
  top: 0px;
  left: 0px;
  padding: 12px 10px 18px 10px;
}
#sidebar #needs {
  font-size: 15px;
}
#sidebar #needs .progressbar {
  height: 1.25em;
}
#sidebar .ui-progressbar {
  height: 20px;
}
#sidebar .ui-progressbar-value {
  background: #b1c8ed;
}

#screen {
  left: 150px;
  padding-left: 10px;
  width: calc(100% - 186px);
  height: 100%;
  display: flex;
  flex-direction: column;
}
#screen .skills-stat-box {
  border: 1px solid #d6d7d8;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}
#screen #needsButtons {
  display: flex;
  flex-direction: column;
}
#screen #needsButtons #needActions {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 5px;
}
#screen #needsButtons #needResponses {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 5px;
}
#screen #console {
  display: flex;
  flex-direction: column;
  height: 8em;
  background: #f7f7f7;
  margin-top: 10px;
  padding: 10px;
}

#skills {
  display: flex;
  flex-direction: column;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
#skills #handle {
  width: 100%;
  height: 10px;
}
#skills #handle #skillsOpenCloseTab {
  border-radius: 10px 10px 0 0;
  left: calc(50% - 15px);
  position: fixed;
  width: 100px;
  height: 10px;
  background: #eeeeee;
  font-size: 10px;
  text-align: center;
}
#skills #hidableSkillsBar {
  border-top: solid 2px #eeeeee;
  display: flex;
  flex-direction: column;
  background: rgba(247, 247, 247, 0.6);
  padding: 10px;
  width: calc(100% - 2*10px);
}
#skills #hidableSkillsBar .progressbar-label {
  display: inline-block;
  width: calc(50% - 10px);
}
#skills #hidableSkillsBar .level-label {
  display: inline-block;
  width: calc(50% - 10px);
  text-align: right;
}
#skills #hidableSkillsBar .ui-progressbar {
  width: calc(100% - 2px);
}
#skills #hidableSkillsBar #goal {
  display: inline-block;
  right: 0px;
  text-align: right;
  margin: 2px;
}

.progressbar {
  display: block;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background: #ffffff;
  height: 2em;
  text-align: left;
  overflow: hidden;
}
.progressbar .progressbar-value {
  width: 0px;
  background: #b1c8ed;
  margin: -1px;
  height: 100%;
}
.progressbar .progressbar-value-text {
  z-index: 1;
  font-size: 10px;
  position: absolute;
  width: auto;
  color: #697a96;
  font-weight: bold;
}

.progressbar-button {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  height: 2em;
  background: #f6f6f6;
  color: #454545;
  font-size: 1em;
  font-family: Arial,Helvetica,sans-serif;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.progressbar-button .progressbar-button-text {
  text-align: center;
  margin: .4em 1em;
  width: auto;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.progressbar-button .progressbar-button-value {
  width: 0px;
  background: #b1c8ed;
  margin: -1px;
  height: 100%;
  position: absolute;
  top: 0px;
}
