$light-gray: #f7f7f7;
$my-gray: #eee;
$transparent-gray: rgba(247, 247, 247, 0.6);
$nunito: 'Nunito', sans-serif;

$sidebar-horizontal-padding: 10px;
$sidebar-padding: (12px $sidebar-horizontal-padding 18px $sidebar-horizontal-padding);
$sidebar-width: 150px;

body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	font-family: $nunito;
}

.popup {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
 	width: 100%; /* Full width */
 	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
 	background-color: rgb(0,0,0); /* Fallback color */
 	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	
	.popup-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 80%;
		top: 30%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.popup-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
		font-size: 3em;
	}
	.popup-body {
		padding: 16px 16px;
	}
}

#mainbox {
	width: calc(100% - 2*8px);
	margin: 8px;
	height: 100%;
	display: flex;
}

#sidebar {
	width: 150px;
	background: #f4f6f9;
	top: 0px;
	left: 0px;
	padding: $sidebar-padding;

	#needs {
	font-size: 15px;
		.progressbar {
			height: 1.25em;
		}
	}
	
	.ui-progressbar {
		height: 20px;
	}
	
	.ui-progressbar-value {
		background: #b1c8ed;
	}
}

#screen {
	left: 150px;
	padding-left: 10px;
	$not-screen-width: 2 * $sidebar-horizontal-padding + $sidebar-width + 2 * 8px;
	width: calc(100% - #{$not-screen-width});
	height: 100%;
	display: flex;
	flex-direction: column;
	
	.skills-stat-box {
		border: 1px solid #d6d7d8;
	    border-radius: 3px;
	    background: #ffffff;   
	    position: absolute;
	    z-index: 1;
	    opacity: 0.8;
	}
	
	#needsButtons {
		display: flex;
		flex-direction: column;
		#needActions {
			position: relative;
			display: block;
			width: 100%;
			padding-top: 5px;
		}
		#needResponses {
			position: relative;
			display: block;
			width: 100%;
			padding-top: 5px;
		}
	}
	
	#console {
		display: flex;
		height: 8em;
		background: $light-gray;
		margin-top: 10px;
		padding: 10px;
	}
}

#skills {
	display: flex;
	flex-direction: column;
	bottom: 0px;
	position: fixed;
	width: 100%;
	
	#handle {
		width: 100%;
		height: 10px;
		
		#skillsOpenCloseTab {
			border-radius: 10px 10px 0 0;
			left: calc(50% - 15px);
			position: fixed;
			width: 100px;
			height: 10px;
			background: $my-gray;
			font-size: 10px;
			text-align: center;
		}
	}

	#hidableSkillsBar {
		border-top: solid 2px $my-gray;
		display: flex;
		flex-direction: column;
		background: $transparent-gray;
		padding: 10px;
		width: calc(100% - 2*10px);
		
		.progressbar-label {
			display: inline-block;
			width: calc(50% - 10px);
		}
		
		.level-label {
			display: inline-block;
			width: calc(50% - 10px);
			text-align: right;
		}
		
		.ui-progressbar {
			width: calc(100% - 2px);
		}
		
		#goal {
			display: inline-block;
			right: 0px;
			text-align: right;
			margin: 2px;
		}
	}
}

.progressbar {
	display: block;
	border: 1px solid #c5c5c5;
    border-radius: 3px;
    background: #ffffff;
    height: 2em;
    text-align: left;
	overflow: hidden;
	.progressbar-value {
		width: 0px;
		background: #b1c8ed;
 		margin: -1px;
		height: 100%;
	}
	.progressbar-value-text {
		z-index: 1;
		font-size: 10px;
		position: absolute;
		width: auto;
		color: #697a96;
		font-weight: bold;
	}
}

.progressbar-button {
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	height: 2em;
	background: #f6f6f6;
	color: #454545;
	font-size: 1em;
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	.progressbar-button-text {
		text-align: center;
		margin: .4em 1em;
		width: auto;
		position: relative;
  		z-index: 1;
		//can't accidentally select the text
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.progressbar-button-value {
		width: 0px;
		background: #b1c8ed;
		margin: -1px;
		height: 100%;
		position: absolute;
		top: 0px;
	}
}