$info-blue: rgb(38, 97, 97);
$theme-light-gray: rgba(0,0,0,.125);
$theme-border: thin solid $theme-light-gray;
$cell-border: thin solid black;
$room-border: 3px solid black;
$dark-gray: rgb(71, 71, 71);

.puzzle-cell {
    width: 50px;
    height: 50px;
    border: $cell-border;
    user-select: none;
    padding-left: 5px;
    background: lightgray;

    div {
        font-size: 20px;
        font-weight: bold;
    }
}

.painted {
    background: $dark-gray;
}

.blank {
    background: white;
}

.left-border {
    border-left: $room-border;
}

.right-border {
    border-right: $room-border;
}

.bottom-border {
    border-bottom: $room-border;
}

.top-border {
    border-top: $room-border;
}

.puzzle {
    border: $room-border; //marks the top and left borders as implicit boundaries for some room
    border-left: $room-border;
}