$theme-light-gray: rgba(0,0,0,.125);
$theme-border: thin solid $theme-light-gray;

h1 {
    font-size: 60;
    text-align: center;
}

a {
    user-select: none;
}

.body {
    padding: 30px;    
}

.tab-content {
    display: flex;
    flex-direction: row;

    h3 {
        padding-bottom: 10px;
    }

    .left {
        width: 60%;
        border-right: $theme-border;
        padding-right: 20px;
    }
    .right {
        padding-left: 10px;
        width: 40%;
    }
}