$info-blue: rgb(38, 97, 97);
$theme-light-gray: rgba(0,0,0,.125);
$theme-border: thin solid $theme-light-gray;

h1, h3 {
    text-align: center;
}

.user-ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ngb-rating {
        width: fit-content;
    }
}

.info-box {
    padding-top: 15px;
}

.bordered {
    margin: 20px 60px 20px 60px;
    border: $theme-border;
    border-radius: 10px;
}

.puzzle-frame {
    height: 600px;
}

.fa-question-circle {
    color: $info-blue;
}