$info-blue: rgb(38, 97, 97);
$theme-light-gray: rgba(0,0,0,.125);

h1, h3 {
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ngb-rating {
        width: fit-content;
    }
}

.fa-question-circle {
    color: $info-blue;
}