.big-handwriting, #attr > legend {
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
}

#item-name {
  font-family: "Pacifico", cursive;
}

fieldset {
  font-family: "Nunito", sans-serif;
}
fieldset .SS, fieldset .S {
  color: #ffaf38;
}
fieldset .A {
  color: #d13a7e;
}
fieldset .B {
  color: #602525;
}
fieldset .C {
  color: #3a80a8;
}

.attribute > fieldset {
  width: calc(50% - 2 * (2 + 2 + 12));
}
